body {
  font-family: "Assistant", sans-serif;
  color: #00226e;
}

//navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar {
  border-radius: 0px 0px 20px 20px;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #00226e;

      &.active {
        font-weight: bold;
        color: #00226e !important;
      }
    }
  }
}

.btn-navbar-desktop {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;

  height: 70px;
  border-radius: 0px 0px 18px 0px;
  border: none;
}

.btn-login {
  background-color: #00226e;
  color: #ffffff;

  &:hover {
    background-color: #1b3771;
    color: #ffffff;
  }
}

//header
header {
  padding: 290px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header.png");
  background-size: cover;
  height: 50rem;

  h1,
  p {
    color: #ffffff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #fd850e;
    color: #ffffff;
    font-weight: bold;

    &:hover {
      background-color: #ff9e53;
      color: #ffffff;
    }
  }
}

//statistics
.section-stats {
  margin-top: -100px;

  .stats-detail {
    padding-top: 15px;
    padding-left: 40px;
    background-color: #ffffff;
  }

  .border-left {
    border-radius: 5px 0px 0px 5px;
  }

  .border-right {
    border-radius: 0px 5px 5px 0px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

//Section wisata popular
.section-popular {
  min-height: 540px;
  background-image: url("../images/bg_section2.png");
  border-radius: 0px 0px 150px 150px;
  margin-top: -70px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;
  }
  h2,
  p {
    color: #ffffff;
  }
  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
}

//section card wisata popular
.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #d2d2d2;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
    }

    .travel-location {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }

    .travel-button {
      .btn-travel-details {
        background-color: #fd850e;
        color: #fff;

        &:hover {
          background-color: #ff9e53;
        }
      }
    }
  }
}

.section-networks {
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  img {
    max-width: 180px;
  }
}

//section testimonial
.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

//section testimonial content
.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 380px;

      img {
        width: 108px;
        height: 108px;
      }
    }

    h4 {
      font-size: 22px;
    }
    .testimonial {
      font-weight: 200;
      font-size: 24px;
      color: #6e6e6e;
      min-height: 200px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      color: #6e6e6e;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .btn-need-help {
    background-color: #f2f2f2;
    color: #c3c3c3;
    font-weight: bold;

    &:hover {
      background-color: #d2d2d2;
      color: #c3c3c3;
    }
  }

  .btn-get-started {
    background-color: #fd850e;
    color: #ffffff;
    font-weight: bold;

    &:hover {
      background-color: #ff9e53;
      color: #ffffff;
    }
  }
}

//section-footer
.section-footer {
  a {
    color: #00226e;
  }

  h5 {
    font-weight: 600;
  }
}

//details.html

//section-details-header

.section-details-header {
  min-height: 310px;
  background: rgb(228, 230, 235);
  margin-top: -70px;
}

.section-details-content {
  margin-top: -220px;
  min-height: 100vh;

  .breadcrumb {
    background-color: transparent;
    padding: 0px;
    margin-bottom: 30px;
  }

  .breadcrumb-item {
    &.active {
      font-weight: bold;
      color: #00226e;
    }
  }

  .card-details {
    padding: 30px;
    color: #00226e;
    border-radius: 10px;

    h1 {
      font-size: 26px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 18px;
      color: #b0b1b2;
    }
  }

  .trip-informations {
    th {
      font-weight: 300;
      font-size: 18px;
      color: #00226e;
    }

    td {
      font-weight: 300;
      color: #b1b1b1;
      font-size: 18px;
    }
  }

  .payment-instruction {
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
  }

  .bank {
    .bank-item {
      h3 {
        font-size: 18px;
        font-weight: 400;
        color: #00226e;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }

      .description {
        margin-left: 10px;
        overflow: hidden;
        float: left;

        p {
          font-weight: normal;
          font-size: 16px;
          color: #00226e;
        }
      }
    }

    .bank-image {
      width: 45px;
      height: 45px;
      float: left;
    }
  }

  .disclaimer-section {
    padding: 10px;
    background-color: #e4e6eb;
    border-radius: 400px;

    .disclaimer {
      margin-left: 12px;
      font-weight: 300;
      font-size: 14px;
      color: #6e6e6e;
    }

    h3 {
      margin-left: 12px;
      color: #00226e;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .gj-datepicker {
    .datepicker {
      border-right: 0;
    }

    .input-group-append {
      .btn {
        padding-right: 30px;
      }
    }
  }

  .btn-add-now {
    background-color: #fd850e;
    color: #ffffff;

    &:hover {
      background-color: #ff9e53;
      color: #ffffff;
    }
  }

  .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }

  .features {
    margin-top: 20px;

    h3 {
      font-size: 18px;
      color: #00226e;
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }

    .description {
      margin-left: 10px;
      overflow: hidden;
      float: left;
    }

    .featured-image {
      width: 45px;
      height: 45px;
      float: left;
    }
  }

  //XZOOM GALLERY
  .gallery {
    .xzoom-container {
      display: block;

      .xzoom {
        width: 100%;
        box-shadow: none;
        margin-bottom: 10px;
      }

      .xactive {
        border: 10px solid #1abc9c;
        box-shadow: none;
      }
    }
  }

  .members {
    .member-image {
      width: 40px;
      height: 40px;
    }
  }

  .join-container {
    margin-top: -16px;
  }

  .btn-join-now {
    font-weight: bold;
    background-color: #fd850e;
    color: #fff;
    border-radius: 0px 0px 10px 10px;

    &:hover {
      background-color: #ff9e53;
      color: #fff;
    }
  }
}

.cancel-booking {
  color: #00226e !important;
  font-weight: 600;
  text-decoration: underline;
}
