body {
  font-family: "Assistant", sans-serif;
  color: #00226e;
}

//navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar {
  border-radius: 0px 0px 20px 20px;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #00226e;

      &.active {
        font-weight: bold;
        color: #00226e !important;
      }
    }
  }
}

.btn-navbar-desktop {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;

  height: 70px;
  border-radius: 0px 0px 18px 0px;
  border: none;
}

.btn-login {
  background-color: #00226e;
  color: #ffffff;

  &:hover {
    background-color: #1b3771;
    color: #ffffff;
  }
}

//header
header {
  padding: 180px 0 165px;
  margin-top: -150px;
  background-image: url("../images/headerImg.jpg");
  background-size: cover;

  h1,
  p {
    color: #ffffff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: #ffffff;

    &:hover {
      background-color: #ffaa69;
      color: #ffffff;
    }
  }
}
